<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBLod8mAcjj-5mmficTg-cu2W-BhEu6Cgs&libraries=places" type="text/javascript"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>
<%= javascript_include_tag("reg_maps.js") %>

<% provide(:title, 'Log in') %>

<div class="row">
  <div class="col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %> <%= f.label "อีเมล์", class:"subthai" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %> <%= f.label "รหัสผ่าน", class:"subthai" %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-danger" %>
    <% end %>

  </div>

  <div class="col-md-6">
    <% prefill_address = session[:saddress]["faddress"] %>
    <%= form_for(:user, url: users_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %> <%= f.label "ชื่อ", class:"subthai" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %> <%= f.label "อีเมล์", class:"subthai" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %> <%= f.label "โทรศัพท์", class:"subthai" %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :address %> <%= f.label "ที่อยู่", class:"subthai" %>
      <%= f.text_field :address, class: "location", value: prefill_address %>

      <%= f.hidden_field :latitude , class: "longitude" %>
      <%= f.hidden_field :longitude ,  class: "latitude" %>

      <%= f.label :password %> <%= f.label "รหัสผ่าน", class:"subthai" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %> <%= f.label "ยืนยันรหัสผ่าน", class:"subthai" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
