<% provide(:title, 'Log in') %>
<% provide(:hidden_title, 'Log in') %>
<div class='container'>
    <div class="row default-background">
      <div class="col-md-6">
        <div class="form-container">
          <div class='sign-in-title'>Returning User</div>
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
  
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password'  %>
  
            <button type='submit' class='btn form-btn form-control'><i class="fa fa-sign-in btn-icon fa-sm"></i>Sign In</button>
            <p id='password-link'>Forgot password? <span id='forgot-password'><a href='/password_resets/new'>Click to reset your password</a></span><p>
          <% end %>
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-container">
          <div class='sign-up-title'>New User</div>
          <% prefill_address = session[:saddress]["faddress"] %>
          <%= form_for(:user, url: users_path) do |f| %>
            <% if @user %>
              <%= render 'shared/error_messages' %>
            <% end %>
  
            <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
  
            <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone Number' %>
            
            <% unless prefill_address.nil? %>
            <%= f.hidden_field :address, class: "location form-control map-input", value: prefill_address%>
            <% else %>
              <%= render partial: "shared/map_auto_address" %>
              <%= f.text_field :address, class: "location-update form-control", placeholder: 'Enter Delivery Location' %>
              <%= f.hidden_field :latitude , class: "longitude" %>
              <%= f.hidden_field :longitude ,  class: "latitude" %>
              <div id="map-container" class="geomap">
                       <div class="quantity-gen">Drag marker to fine-tune your location</div>
                <div id="map" class="geomap"></div>
              </div>
            <% end %>
            <%= f.hidden_field :latitude , class: "longitude" %>
            <%= f.hidden_field :longitude ,  class: "latitude" %>
  
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password (minimum 6 characters)' %>
  
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
  
            <button type='submit' class='btn form-btn form-control'><i class="fa fa-pencil btn-icon fa-sm"></i>Register</button>
          <% end %>
        </div>
      </div>
    </div>
</div>
