<div class="modal-dialog modal-480">
  <div class="modal-content">
    <%= form_for(:cart, url: add_create_path, remote: true) do |f| %>
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      <ul class="errors"></ul>
      <div class="center"><%= @food.name %> | <%= @food.price %> ฿</div>
      <% unless @food.image_url == "test.jpg" %>
        <div class="menu-img center-norep" style="background-image: url(<%= @food.image_url %>); "></div>
      <% else %>
        <div class="menu-img center-norep"></div>
      <% end %>
      <%= hidden_field_tag :food_id, @food_id %>
      <% unless @options.empty? %>
        <div class="form-group">
          <% @options.each do |option| %>
            <% ovs = option.option_values %>
            <% option_name = option.name %>
            <%= f.label option_name %>
            <% if option.option_type == 1 %>
              <%= collection_radio_buttons "value[#{option.name}]", :option_value_ids, ovs, :id, :name, {checked: ovs.first.id} do |rb| %>
                <% rb.label(class: "radio input_checkbox") {rb.radio_button(class: "radio") + rb.text} %>
              <% end %>
            <% else %>
              <%= collection_check_boxes "value[#{option.name}]", :option_value_ids, ovs, :id, :name do |cb| %>
                <% cb.label(class: "checkbox input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="form-group margin-bot-5">
        <%= f.label "Special Request : คำขอเพิ่มเติม", class: "control-label label-addform" %>
        <%= f.text_area :special, class: "form-control" %>
      </div>
      <div class="form-group margin-bot-0">
 
          <%= f.label "Quantity : จำนวน", class:"control-label label-addform margin-bot-0" %>
          <div class="row">
          <div class="col-xs-5 pad-left-0">
          <%= f.number_field :quantity, in: 1..10, value: 1, class: "form-control" %>          
  </div>
  <div class="col-xs-2"></div>
        <div class="col-xs-5 pad-right-0">
          <%= f.submit "Add to Cart", class: "btn btn-danger" %>
        </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
<script>
  $('input[name="value[1) Choose Topping (up to 5) : ท็อปปิ้ง (เลือกได้สูงสุด 5 อย่าง)][option_value_ids][]"]').change(function(e){
   if ($('input[name="value[1) Choose Topping (up to 5) : ท็อปปิ้ง (เลือกได้สูงสุด 5 อย่าง)][option_value_ids][]"]:checked').length > 5) {
     $(this).prop('checked', false)
   }
})
  $('input[name="value[Sides (Choose 2) : ไซด์ (เลือก 2)][option_value_ids][]"]').change(function(e){
   if ($('input[name="value[Sides (Choose 2) : ไซด์ (เลือก 2)][option_value_ids][]"]:checked').length > 2) {
     $(this).prop('checked', false)
   }
})
  $('input[name="value[Toppings (Choose 2)][option_value_ids][]"]').change(function(e){
   if ($('input[name="value[Toppings (Choose 2)][option_value_ids][]"]:checked').length > 2) {
     $(this).prop('checked', false)
   }
})
  $('input[name="value[Toppings (Choose 3)][option_value_ids][]"]').change(function(e){
   if ($('input[name="value[Toppings (Choose 3)][option_value_ids][]"]:checked').length > 3) {
     $(this).prop('checked', false)
   }
})
  $('input[name="value[Toppings (Choose 4)][option_value_ids][]"]').change(function(e){
   if ($('input[name="value[Toppings (Choose 4)][option_value_ids][]"]:checked').length > 4) {
     $(this).prop('checked', false)
   }
})
</script>
