<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(:cart, url: add_create_path, remote: true) do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>
        <div class="center"><h2><%= @food.name %></h2></div>
        <% unless @food.image_url.empty? %>
          <div class="jumbotron center-norep" style="background-image: url(<%= @food.image_url %>); "></div>
        <% end %>
        <%= hidden_field_tag :food_id, @food_id %>

        <div class="form-group">
          <%= f.label :quantity, class:"control-label" %>
          <%= f.number_field :quantity, in: 1..5, value: 1, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :special, class: "control-label" %>
          <%= f.text_field :special, class: "form-control" %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8">
              <% @options.each do |option| %>

                <% ovs = option.option_values %>
                <% option_name = option.name %>
                <%= f.label option_name %>
                <% if option.option_type == 1 %>
                  <%= collection_radio_buttons "value[#{option.name}]", :option_value_ids, ovs, :id, :name, {checked: ovs.first.id} do |rb| %>
                    <% rb.label(class: "radio-inline input_checkbox") {rb.radio_button(class: "radio-inline") + rb.text} %>
                  <% end %>
                <% else %>
                  <%= collection_check_boxes "value[#{option.name}]", :option_value_ids, ovs, :id, :name do |cb| %>
                    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
                  <% end %>
                <% end %>
                <br>
              <% end %>
          </div>
        </div>
      </div>
    </div>

      <div class="modal-footer">
        <%= f.submit "Add to Cart", class: "btn btn-danger" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>