<div id="changeAddressModal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Choose new address</h4>
      </div>
      <div class="modal-body row">
        <% @addresses.each do |address| %>

          <div class="col-sm-4 <%= (address.id == @address.id) ? 'default-address-thumb' : '' %> address-thumb" address-id="<%= address.id %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= address.name %>
                <div class="clearfix;"></div>
              </div>
              <div class="panel-body">
                <div><%= address.full_address %></div>
                <div>
                  <div id="googleMap<%= address.id %>" class="thumb-map address-map" latitude="<%= address.latitude %>" longitude="<%= address.longitude %>">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <div class="col-sm-4 address-thumb new-address" id="newAddressBtn">
          <div class="panel panel-default">
            <%= link_to new_address_path do %>
              <div class="panel-body">
                <div class="new-address">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  <h2>New Address</h2>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
