<% provide(:hidden_title, "clearmap") %>
<div class="container">
  <div class="row">
    <div class="checkout-summary" style="padding-top:20px; 10px;">
      
      <div class="col-xs-12 col-sm-7">
        <!-- DELIVERY ADDRESS -->
        <!-- BEGIN ADDRESS ERROR -->
        <% unless @address_valid %>
          <div class="alert alert-danger alert-dismissible" id="addressError" role="alert">
            This address is not within the service area, Please change the address.
          </div>
        <% end %>
        <!-- END ADDRESS ERROR -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;"> Delivery Address
            </h3>
            <div class="pull-right">
              <%= link_to edit_address_path(id: @address.id, return_url: checkout_path), class: 'btn btn-default' do %>
                  Edit
              <% end %>
              <button class="btn btn-default" id="changeAddressBtn">
                Change
              </button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 address_thumb">
              <div id="addressMap" class="thumb-map" style="height:150px;">
              </div>
            </div>
            <div class="col-xs-12" style="margin-top: 10px;">
              <b>Name:</b> <%= @address.name %></br>
              <b>Address:</b>
              <%= @address.full_address %></br>
              <b>Delivery Instruction: <%= @address.instruction %>
            </div>
            <% if @delivery_fee == 0 %>
            <div class="col-xs-12 redmain">
              **Since this is your first order, we'll call you to verify your phone number. We reserve the right to cancel this order if your number can't be reached. 
            </div>
            <% end %>
          </div>
        </div>
        <!-- END DELIVERY ADDRESS -->

        <!-- PAYMENT METHOD -->
        <!-- BEGIN PAYMENT ERROR -->
        <div class="alert alert-danger alert-dismissible hide" id="paymentError" role="alert">
          Cannot process payment right now, Please try again later.
        </div>
        <!-- END PAYMENT ERROR -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;"> Payment Method
            </h3>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills" style="display: flex; justify-content: center;">
              <li role="presentation" class="active" id="cc-payment-button">
                <a href="javascript:;">Credit Card</a>
              </li>
              <li role="presentation" id="cash-on-delivery-button">
                <a href="javascript:;">Cash</a>
              </li>
            </ul>
            <div class="payment-methods">

              <!-- BEGIN: CASH PAYMENT FORM -->
              <div id="cash-on-delivery" class="hide">
                <div class="cash-delivery-text-wrapper">
                  Cash on delivery
                  <%= form_tag '/checkout/complete', class: 'form-horizontal', id: 'cash-payment' do %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input type='hidden' name='payment_type' value='cash'>
                  <% end %>
                </div>
              </div>
              <!-- END: CASH PAYMENT FORM -->

              <!-- BEGIN: CREDIT CARD PAYMENT FORM -->
              <%= form_tag '/checkout/complete', class: 'form-horizontal', id: 'cc-payment' do %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" name="token">
                <input type='hidden' name='payment_type' value='credit_card'>
                  <div class="form-group">
                    <div class="col-sm-9">
                      <h5><i class="fa fa-lock" aria-hidden="true"></i>
                      We use SSL encryption to protect your personal information, including your credit card information.</h5>
                    </div>
                    <div class="col-sm-3">
                      <img style='width: 100px', src='<%= asset_path("comodo_secure_seal_100x85_transp.png") %>'></img>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">We accept</label>
                    <div class="col-sm-7">
                      <img style='width: 200px', src='<%= asset_path("master-visa-jcb.png") %>'></img>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label" for="card-holder-name">Name on Card *</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label" for="card-number">Card Number *</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label" for="expiry-month">Expiration Date *</label>
                    <div class="pad-col col-sm-7">
                      <div class="row">
                        <div class="col-xs-6 col-md-6">
                          <select class="form-control" name="expiry-month" id="expiry-month">
                            <option>Month</option>
                            <option value="01">Jan (01)</option>
                            <option value="02">Feb (02)</option>
                            <option value="03">Mar (03)</option>
                            <option value="04">Apr (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">Aug (08)</option>
                            <option value="09">Sep (09)</option>
                            <option value="10">Oct (10)</option>
                            <option value="11">Nov (11)</option>
                            <option value="12">Dec (12)</option>
                          </select>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <select class="form-control" name="expiry-year" id='expiry-year'>
                            <option value="16">2016</option>
                            <option value="17">2017</option>
                            <option value="18">2018</option>
                            <option value="19">2019</option>
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                            <option value="24">2024</option>
                            <option value="25">2025</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-5 control-label" for="cvv">Card CVV *</label>
                    <div class="col-xs-5">
                      <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                    </div>
                  </div>
              <% end %>
              <!-- END: CREDIT CARD PAYMENT FORM -->
            </div>
          </div>
        </div>
        <!-- END PAYMENT METHOD -->
      </div>
      <!-- END DELIVERY ADDRESS -->
      
      <!-- ORDER SUMMARY -->
      <div class="col-xs-12 col-sm-5">
        <div class="order-summary">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Your Order <%= link_to "(Return to menu)", restaurant_foods_path(session[:restaurant_id]),{ class: "return-to-menu" } %>
              </h3>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body" style="padding-left: 0px; padding-right: 0px;">
              <% cumulative_quantity = 0 %>
              <% sub_total = 0 %>
              <% @cart.each do |id, order_info| %>
                <% food = Food.find(order_info["food_id"]) %>
                <% quantity = order_info["quantity"].to_i %>
                <% options = order_info["options"] %>

                <% @food_price = 0 %>
                <% @food_price += food.price %>

                <div class="order-items container-fluid checkout-order-summary-line">
                  <div class="col-xs-10">
                    <%= food.name %>
                    <div class="redmain">
                      <%= @food_price %> &#xe3f;
                    </div>

                    <% unless options.nil? %>
                      <% options.each do |option| %>
                        <% option_value_id = option[1]["option_value_ids"] %>
                          <% unless option_value_id.first.empty? %>

                            <!--Radio button-->
                            <% if option_value_id.class == String %>
                              <% option_value = OptionValue.find(option_value_id) %>
                              <div style="color:#ABABAB;">
                                <%= option_value.name %>
                              </div>
                              <% @food_price += option_value.price.to_i %>
                            <!--Checkbox-->
                            <% else %>
                                <% option_value_id.each do |option_number| %>
                                  <% unless option_number.empty? %>
                                    <% option_value = OptionValue.find(option_number) %>
                                    <div style="color:#ABABAB;">
                                      <%= option_value.name %>
                                    </div>
                                    <% @food_price += option_value.price.to_i %>
                                  <% end %>
                                <% end %>

                            <% end %>

                          <% end %>
                        <% end %>
                      <% end %>
                  </div>
                  <div class="col-xs-2 redmain">
                    x<%= quantity %>
                  </div>
                </div>

                <% cumulative_quantity += quantity %>
                <% sub_total += quantity * @food_price %>
              <% end %>
              
              <div class="price-summary container-fluid checkout-order-summary-line"  style="border-top: 1px solid #dddddd;">
                <div class="col-xs-6">
                  <p>
                    Item(<%= cumulative_quantity %>)
                  </p>
                </div>
                <div class="col-xs-6 align-right">
                  <p>
                    <%= sub_total %> &#xe3f;
                  </p>
                </div>
                <div class="col-xs-6 delivery-fee">
                  <p>
                    Delivery fee
                  </p>
                </div>
                <div class="col-xs-6 delivery-fee align-right">
                  <p>
                    <% if @delivery_fee == 0 %>
                      <span style="text-decoration: line-through;">
                        <%= Setting.get(:delivery_fee) %> &#xe3f;
                      </span>
                    <% end %>
                    <%= @delivery_fee %> &#xe3f;
                  </p>
                </div>
                <% if @delivery_fee == 0 %>
                  <div class="col-xs-12 redmain">
                    <p>
                      Enjoy FREE delivery on your first order!
                    </p>
                  </div>
                <% end %>
                <div class="col-xs-6 delivery-fee">
                  <p>
                    Service fee (<%= @restaurant.service_fee %>%)
                  </p>
                </div>
                <div class="col-xs-6 delivery-fee align-right">
                  <p>
                    <%= service_fee = (@restaurant.service_fee.to_f * sub_total.to_f / 100).ceil %> &#xe3f;
                  </p>
                </div>
                <div class="col-xs-6">
                  <h4><b>
                    Order Total 
                  </b></h4>
                </div>
                <div class="col-xs-6 align-right redmain">
                  <h4><b>
                    <%= sub_total + @delivery_fee + service_fee %> &#xe3f;
                  </b></h4>
                </div>
              </div>
            </div>
            <div class="panel-footer" style="background-color: #FFFFFF;">
              <div class="order-submit">
                <center>
                  <button class="btn btn-success <%= @address_valid ? '' : 'disabled' %>" id="orderSubmitBtn" 
                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">
                    Submit Order
                  </button>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END ORDER SUMMARY -->
    </div>
  </div>
</div>

<%= render partial: 'change_address_modal' %>

<script src="https://cdn.omise.co/omise.js"></script>
<script>
  var mapsInModal = [];
  var mapsInModalCenter = [];
  $(document).ready(function() {
    var paymentType = 'credit_card';

    $("#cash-on-delivery-button").click(function(e) {
      paymentType = 'cash';
      $("#cash-on-delivery-button").addClass('active');
      $("#cc-payment-button").removeClass('active');
      $("#cash-on-delivery").removeClass('hide');
      $("#cc-payment").addClass('hide');
      $("#cc-errors").addClass('hide');
    });

    $("#cc-payment-button").click(function(e) {
      paymentType = 'credit_card';
      $("#cc-payment-button").addClass('active');
      $("#cash-on-delivery-button").removeClass('active');
      $("#cc-payment").removeClass('hide');
      $("#cash-on-delivery").addClass('hide');
      $("#cc-errors").removeClass('hide');
    });

    $("#orderSubmitBtn").click(function(e) {
      
      switch(paymentType){
        case 'cash':
          $("#orderSubmitBtn").button('loading');
          $("#cash-payment").submit();
          break;
        case 'credit_card':
          setUpOmise();
          break;
      }
    });

    $("#changeAddressBtn").click(function(e){
      $("#changeAddressModal").modal("show");
      initChangeAddressModal();
    });
    $('#changeAddressModal').on('shown.bs.modal', function(e) {
      awakeMapsInModal();
    });

    $("#saveAddressBtn").click(function(e){
      $("#updateAddressForm").submit();
    });
  });

  function setUpOmise(){
    Omise.setPublicKey('<%= ENV['omise_public_key']%>');
    if (validateOmiseFields()) {
      $("#orderSubmitBtn").button('loading');
      // TODO make the following code work
      // TODO add display error message when response.object == "error"
      // some how it just didn't get the correct value yet
      $('#paymentError').innerHTML = '';
      var button = $("#orderSubmitBtn");
      var form = $('#cc-payment');

      // Disable the submit button to avoid repeated click.
      button.find("input[type=button]").prop("disabled", true);

      // Serialize the form fields into a valid card object.
      var card = {
        "name": $('#card-holder-name').val(),
        "number": $('#card-number').val(),
        "expiration_month": $('#expiry-month').val(),
        "expiration_year": $('#expiry-year').val(),
        "security_code": $('#cvv').val()
      };

      // Send a request to create a token then trigger the callback function once
      // a response is received from Omise.
      //
      // Note that the response could be an error and this needs to be handled within
      // the callback.
      Omise.createToken("card", card, function (statusCode, response) {
        console.log(response);
        if (response.object == "error") {
          // Display an error message.
          $('#paymentError').removeClass('hide');
          $('#paymentError').html(response.message);
          // Re-enable the submit button.
          $("#orderSubmitBtn").button('reset');
          button.find("input[type=button]").prop("disabled", false);
        } else {
          $('#paymentError').addClass('hide');
          // Then fill the omise_token.
          form.find("[name=token]").val(response.id);

          // Remove card number from form before submiting to server.
          form.find("[name=card-number]").val("");
          form.find("[name=cvv]").val("");

          // submit token to server.
          form.submit();
        };
      });
    } else {
      $('#paymentError').removeClass('hide');
      $('#paymentError').html("Please fill all required fields");
      $('html, body').animate({
        scrollTop: $("#paymentError").offset().top - 70
      }, 2000);
    }
  }

  function validateOmiseFields() {
    var valid = true;
    if ($('#card-holder-name').val().length == 0) {
      $('#card-holder-name').parent().addClass('has-error');
      valid = false;
    } else {
      $('#card-holder-name').parent().removeClass('has-error');
    }
    if ($('#card-number').val().length == 0) {
      $('#card-number').parent().addClass('has-error');
      valid = false;
    } else {
      $('#card-number').parent().removeClass('has-error');
    }
    if ($('#expiry-month').val().length == 0 || $('#expiry-month').val() == 'Month') {
      $('#expiry-month').parent().addClass('has-error');
      valid = false;
    } else {
      $('#expiry-month').parent().removeClass('has-error');
    }
    if ($('#cvv').val().length == 0) {
      $('#cvv').parent().addClass('has-error');
      valid = false;
    } else {
      $('#cvv').parent().removeClass('has-error');
    }
    return valid;
  }

  function initMap(){
    var position = {
      lat: parseFloat("<%= @address.latitude %>"),
      lng: parseFloat("<%= @address.longitude %>")
    };
    var map = new google.maps.Map(
      document.getElementById("addressMap"), {
        center: position,
        zoom: 14,
        streetViewControl: false,
        draggable: false,
        scrollwheel: false
    });
    map.addListener('resize', function(){});
    var marker = new google.maps.Marker({
      position: position,
      map: map
    });

    $(".address-map").each(function() {
      var position = {
        lat: parseFloat($(this).attr('latitude')),
        lng: parseFloat($(this).attr('longitude'))
      };
      var map = new google.maps.Map(
        document.getElementById($(this).attr('id')), {
          center: position,
          zoom: 15,
          streetViewControl: false,
          draggable: false,
          scrollwheel: false
      });
      map.addListener('resize', function(){});
      var marker = new google.maps.Marker({
        position: position,
        map: map
      });
      mapsInModal.push(map);
      mapsInModalCenter.push(position);
    });
  }

  function initChangeAddressModal(){
    $(".address-thumb").each(function(index) {
      $(this).click(function(){
        if (!$(this).hasClass('default-address-thumb')) {
          var addressId = $(this).attr('address-id');
          var url = window.location.href.split('?')[0];
          var params = window.location.href.split('?')[1] || "";
          
          if (urlContainParam('address_id')) {
            var params = params.split('&');
            params = jQuery.grep(params, function( p ) {
              return !p.startsWith('address_id=');
            });
            if (params.length > 0) {
              params = params.join('&');
              params = "&" + params;
            }
            window.location = url + "?address_id=" + addressId + params ;
          } else {
            if (params)
              params = "&" + params
            window.location = url + "?address_id=" + addressId + params;
          }
        }
      });
    });
  }

  function awakeMapsInModal() {
    for (var i = 0; i < mapsInModal.length; i++) {
      google.maps.event.trigger(mapsInModal[i], "resize");
      mapsInModal[i].setCenter(mapsInModalCenter[i]);
    }
  }

  function urlContainParam(param) {
    var url = window.location.href;
    if((url.indexOf('?' + param + '=') != -1) ||
        (url.indexOf('&' + param + '=') != -1))
      return true;
    return false
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLod8mAcjj-5mmficTg-cu2W-BhEu6Cgs&callback=initMap&libraries=places">
</script>