<h1>Checkout</h1>
<% total = 0 %>
<ul>
<% @cart.each do |id, quantity| %>
  <% food = Food.find(id) %>


    <li>
      <p><%= food.name %></p>
      <p><%= number_to_currency(food.price, unit: "THB", format: "%n %u") %></p>
      <p>Quantity: <%= quantity %></p>
    </li>

    <% total += quantity * food.price %>

<% end %>
  <li>
    <p>Delivery fee: 50 THB</p>
  </li>
  <li>
    <p>Service fee: 10 THB</p>
  </li>
  <% total += 60 %>
<p><b>Total: <%= number_to_currency(total, unit: "THB", format: "%n %u") %></b></p>

<p>Payment method: Cash on delivery</p>

<p>Please confirm your delivery address and contact phone number.</p>
<p>Deliver to</p>
<p><%= @user.name %></p>
<p><%= @user.phone %></p>
<p><%= @user.address %></p>

<%= link_to "Submit Order", checkout_complete_path %>

</ul>