<% provide(:hidden_title, 'clearmap') %>
<h1>Checkout</h1>
<% total = 0 %>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <% @cart.each do |id, order_info| %>
          <% food_id = order_info["food_id"] %>
          <% quantity = order_info["quantity"].to_i %>
          <% special = order_info["special"] %>
          <% options = order_info["options"] %>
          <% food = Food.find(food_id) %>
          <% food_price = food.price %>
          <tr>
            <td class="col-md-4">
              <strong><%= food.name %></strong>


              <!--Option list start-->
                <ul class="option-lists">
                  <% unless options.nil? %>
                    <% options.each do |option| %>
                      <% option_value_id = option[1]["option_value_ids"] %>
                        <% unless option_value_id.first.empty? %>

                          <!--Radio button-->
                          <% if option_value_id.class == String %>
                            <% option_value = OptionValue.find(option_value_id) %>
                            <li><%= option_value.name %></li>
                            <% food_price += option_value.price.to_i %>
                          <!--Checkbox-->
                          <% else %>
                              <% option_value_id.each do |option_number| %>
                                <% unless option_number.empty? %>
                                  <% option_value = OptionValue.find(option_number) %>
                                  <li><%= option_value.name %></li>
                                  <% food_price += option_value.price.to_i %>
                                <% end %>
                              <% end %>

                          <% end %>

                        <% end %>
                      <% end %>
                    <% end %>
                    <% unless special.empty? %>
                      <li><%= special %></li>
                    <% end %>
                  </ul>
              <!--Option list end-->

              </td>
              <td class="col-md-2"><%= quantity %></td>
              <td class="col-md-2">
                <strong><%= food_price * quantity %> ฿</strong>
                <%= link_to line_delete_path(id: id), class: "btn" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
              <% total += quantity * food_price %>
            </tr>
          <% end %>
          <tr>
            <td class="col-md-3"></td>
            <td class="col-md-2"><b>Delivery Fee</b></td>
            <td class="col-md-2"><b>70 ฿</b></td>
          </tr>
          <tr>
            <td class="col-md-3"></td>
            <td class="col-md-2"><b>Subtotal:</b></td>
            <td class="col-md-2"><b><%= total+70 %> ฿</b></td>
          </tr>
      </tbody>
    </table>
    <table class="table">
      <tr>
        <td class="col-md-2"></td>
        <td class="col-md-2">Name:</td>
        <td class="col-md-4"><%= @user.name %></td>
      </tr>
      <tr>
        <td class="col-md-2"></td>
        <td class="col-md-2">Contact Number:</td>
        <td class="col-md-4"><%= @user.phone %></td>
      </tr>
      <tr>
        <td class="col-md-2"></td>
        <td class="col-md-2">Delivery Address:</td>
        <td class="col-md-4"><%= @user.address %></td>
      </tr>
    </table>
      <div class="geomap">
        <div id="googleMap" class="geomap"></div>
      </div>
  </div>
</div>
<tr>
  <%= render partial: "payment" %>
</tr>
<script>
var myCenter=new google.maps.LatLng(<%= @user.latitude %>,<%= @user.longitude %>);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:17,
  mapTypeId:google.maps.MapTypeId.ROADMAP,
  scrollwheel:false
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
