<% provide(:hidden_title, 'clearmap') %>
<div class='form-container'>
  <h1 class="title">Your Cart</h1>
  <% if @cart.empty? %>
    <p class="center">Your cart is currently empty.</p>
  <% end %>
  <br>

  <% total = 0 %>
  <div class="container">
    <% @cart.each do |id, order_info| %>
      <% food_id = order_info["food_id"] %>
      <% quantity = order_info["quantity"].to_i %>
      <% special = order_info["special"] %>
      <% options = order_info["options"] %>
      <% food = Food.find(food_id) %>
      <% food_price = food.price %>
      <div class="row pad-cart">
        <div class="pad-col col-xs-7">
          <%= food.name %>
          <!--Option list start-->
          <ul class="option-lists">
            <% unless options.nil? %>
              <% options.each do |option| %>
                <% option_value_id = option[1]["option_value_ids"] %>
                <% unless option_value_id.first.empty? %>

                  <!--Radio button-->
                  <% if option_value_id.class == String %>
                    <% option_value = OptionValue.find(option_value_id) %>
                    <li><%= option_value.name %></li>
                    <% food_price += option_value.price.to_i %>
                  <!--Checkbox-->
                  <% else %>
                      <% option_value_id.each do |option_number| %>
                        <% unless option_number.empty? %>
                          <% option_value = OptionValue.find(option_number) %>
                          <li><%= option_value.name %></li>
                          <% food_price += option_value.price.to_i %>
                        <% end %>
                      <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% unless special.empty? %>
              <li><%= special %></li>
            <% end %>
          </ul>
          <!--Option list end-->
        </div>
        <div class="pad-col col-xs-1 text-right quantity-gen"><%= quantity %></div>
        <div class="pad-col col-xs-1 text-right">
            <%= link_to line_delete_path(id: id), class: "btn-remove" do %>
              <i class="fa fa-close fa-sm close-icon-gen"></i>
            <% end %>
        </div>
        <div class="pad-col col-xs-3 text-right">
            <strong><%= food_price * quantity %> ฿</strong>

        </div>

          <% total += quantity * food_price %>
      </div>
    <% end %>
    <% session[:total] = total %>
    <!--<div class="row">-->
    <!--  <div class="pad-col col-xs-9 text-right">Delivery Fee</div>-->
    <!--  <div class="pad-col col-xs-3 text-right"><b>50 ฿</b></div>-->
    <!--</div>-->
    
    <div class="row">
      <div class="pad-col col-xs-9 text-right"><b>Total</b></div>
      <div class="pad-col col-xs-3 text-right"><b><%= total %> ฿</b></div>
    </div>
    <div class="row">
      <hr class="style-one">
    </div>
    <div class="row">
      <div class="pad-col col-xs-4 text-center">
        <% unless @cart.empty? %>
          <%= link_to cart_clear_path, class: "btn btn-default"  do%>
          <i class="fa fa-trash"></i> Empty <span class="hide-mobile">Cart</span>
          <% end %>
        <% end %>
      </div>
      <% unless session[:restaurant_id].nil? %>
        <div class="pad-col col-xs-4 text-center">
            <%= link_to restaurant_foods_path(session[:restaurant_id]), class: "btn btn-warning" do %>
              <i class="fa fa-angle-left"></i> Back <span class="hide-mobile"> to menu</span>
            <% end %>
        </div>
      <% end %>
      <div class="pad-col col-xs-4 text-center">
        
          <% unless @cart.empty? %>
            <% if total < @min_order %>
            
              <%= link_to restaurant_foods_path(session[:restaurant_id]), class: "btn btn-danger" do %>
                Order more</span>
              <% end %><br>
              <div style="color: red">Your order total is less than minimum order <%= @min_order %> ฿ </div>
           <% else %>
            <%= link_to checkout_path, class: "btn btn-success" do %>
              NEXT <i class="fa fa-angle-right"></i>
            <% end %>
            <% end %>
          <% end %>
       
      </div>
    </div>
  </div>
</div>
