<div style="padding-top: 6px; padding-bottom: 6px; text-align: center; background-color: #f0f0f0">
  <span style="font-family: 'Helvetica'; margin-right: 10px; font-size: 1.7em; color: #EF5A50; text-transform: uppercase; font-weight: 700; letter-spacing: 2px;">BEFED</span>
  <span style="font-family: 'Helvetica'; margin-right: 10px; font-size: 1.1em; color: #777777; letter-spacing: -1px;">Food Delivery</span>
</div> 
<div style="border: 1px solid #f0f0f0; border-radius: 6px; padding: 5px">
<h1>Order Confirmed!</h1>
<% user_order = Order.where(user_id: @order.user_id) %>
<p><%= @user.name %>, Thank you for ordering with Befed</p>
<p>The estimated delivery time for your order is 45 minutes.</p>
<p>If you have any questions, please contact us at 092-276-4769</p>

<h1>Customer Information</h1>
<p>Name: <%= @user.name %></p>
<p>Contact Number: <%= @user.phone %></p>
<p>Delivery Address: <%= @user.address %></p>
<p>Delivery Instruction: <%= @user.dinstruction %></p>

<% total = 0 %>

<h1>Order Information</h1>
<% first_food_id = @cart["1"]["food_id"] %>
<% first_food = Food.find(first_food_id) %>
<% rest_id = first_food.restaurant_id %>
<p>Order id: <%= @order.id %></p>
<p>Order from: <%= Restaurant.find(rest_id).name %></p>
<p>
  Payment Method:
  <% if @order.payment_type == 1 %>
    Credit Card
  <% else %>
    Cash on Delivery
  <% end %>
</p>

<table>
  <% @cart.each do |id, order_info| %>
    <% food_id = order_info["food_id"] %>
    <% quantity = order_info["quantity"].to_i %>
    <% special = order_info["special"] %>
    <% options = order_info["options"] %>
    <% food = Food.find(food_id) %>
    <% food_price = food.price %>
  <tr>
  <td width="70%">
    <strong><%= food.name %></strong>


    <!--Option list start-->
      <ul>
        <% unless options.nil? %>
          <% options.each do |option| %>
            <% option_value_id = option[1]["option_value_ids"] %>
              <% unless option_value_id.first.empty? %>

                <!--Radio button-->
                <% if option_value_id.class == String %>
                  <% option_value = OptionValue.find(option_value_id) %>
                  <li><%= option_value.name %></li>
                  <% food_price += option_value.price.to_i %>
                <!--Checkbox-->
                <% else %>
                    <% option_value_id.each do |option_number| %>
                      <% unless option_number.empty? %>
                        <% option_value = OptionValue.find(option_number) %>
                        <li><%= option_value.name %></li>
                        <% food_price += option_value.price.to_i %>
                      <% end %>
                    <% end %>

                <% end %>

              <% end %>
            <% end %>
          <% end %>
          <% unless special.empty? %>
            <li><%= special %></li>
          <% end %>
        </ul>
    <!--Option list end-->

    </td>
    <td width="10%" style="text-align: right"><%= quantity %></td>
    <td width="20%" style="text-align: right">
      <strong><%= food_price * quantity %> ฿</strong>
    </td>
    <% total += quantity * food_price %>
  </tr>
  <% end %>
  <% user_order.size == 1 ? delivery_fee = 0 : delivery_fee = 50 %>
  
  <tr>
    <td width="70%"></td>
    <td width="10%" style="text-align: right"><b>Delivery Fee</b></td>
    <td width="20%" style="text-align: right"><b><%="#{delivery_fee} ฿"%></b></td>
  </tr>
  <tr>
    <td width="70%"></td>
    <td width="10%" style="text-align: right"><b>Total</b></td>
    <td width="20%" style="text-align: right"><b><%= total+delivery_fee %> ฿</b></td>
  </tr>
</table>
  <hr>
<div style="text-align: center">
  Befed Technology Co., Ltd.<br>
  84 Ladprao 114 Rd. Wangthonglang
  Bangkok, Thailand 10310<br>
  befedtoday@gmail.com<br>
  092-276-4769<br>
  <a href="http://www.facebook.com/befed.me">facebook</a> | 
  <a href="http://line.me/ti/p/%40befed.me">line@</a>
</div>
</div>
