<div style="border: 1px solid #f0f0f0; border-radius: 6px; padding: 5px">
<h1>Order Information</h1>
<% rest_id = @order.rest_id %>
<p>Order id: <%= @order.id %></p>
<p>Restaurant Name: <%= Restaurant.find(rest_id).name %></p>
 
<% total = 0 %>

<table>
<% @cart.each do |id, order_info| %>
  <% food_id = order_info[:food_id] %>
  <% quantity = order_info[:quantity].to_i %>
  <% special = order_info[:special] %>
  <% options = order_info[:options] %>
  <% food = Food.find(food_id) %>
  <% food_price = food.price %>
<tr>
  <td width="70%">
    <strong><%= food.name %></strong>


    <!--Option list start-->
      <ul class="option-lists">
        <% unless options.nil? %>
          <% options.each do |option| %>
            <% option_value_id = option[1][:option_value_ids] %>
              <% unless option_value_id.first.empty? %>

                <!--Radio button-->
                <% if option_value_id.class == String %>
                  <% option_value = OptionValue.find(option_value_id) %>
                  <li><%= option_value.name %></li>
                  <% food_price += option_value.price.to_i %>
                <!--Checkbox-->
                <% else %>
                    <% option_value_id.each do |option_number| %>
                      <% unless option_number.empty? %>
                        <% option_value = OptionValue.find(option_number) %>
                        <li><%= option_value.name %></li>
                        <% food_price += option_value.price.to_i %>
                      <% end %>
                    <% end %>

                <% end %>

              <% end %>
            <% end %>
          <% end %>
          <% unless special.empty? %>
            <li><%= special %></li>
          <% end %>
        </ul>
    <!--Option list end-->

    </td>
    <td width="10%" style="text-align: right"><%= quantity %></td>
    <td width="20%" style="text-align: right">
      <strong><%= food_price * quantity %> ฿</strong>
    </td>
    <% total += quantity * food_price %>
  </tr>
  <% end %>
  <tr>
    <td width="70%"></td>
    <td width="10%" style="text-align: right"><b>Total</b></td>
    <td width="20%" style="text-align: right"><b><%= total %> ฿</b></td>
  </tr>
</table>
<h1>Customer Information</h1>
<p>Name: <%= @user.name %></p>
<p>Contact Number: <%= @user.phone %></p>
<p>Delivery Address: <%= @order.shipping_address.address %></p>
<p>Delivery Instruction: <%= @order.shipping_address.instruction %></p>
</div>
<div style="padding-top: 6px; padding-bottom: 6px; text-align: center; background-color: #f0f0f0">
  <span style="font-family: 'Helvetica'; margin-right: 10px; font-size: 1.7em; color: #EF5A50; text-transform: uppercase; font-weight: 700; letter-spacing: 2px;">BEFED</span>
  <span style="font-family: 'Helvetica'; margin-right: 10px; font-size: 1.1em; color: #777777; letter-spacing: -1px;">Food Delivery</span>
</div>     
   
    

