<h1>Customer Info</h1>

<p>Name: <%= @user.name %></p>

<p>Phone number: <%= @user.phone %></p>

<p>Address: <%= @user.address %></p>

<h1>Order Info</h1>
<% total = 0 %>
<ul>
<% @cart.each do |id, quantity| %>
  <% food = Food.find(id) %>
    <li>
      <p><%= food.name %></p>
      <p><%= number_to_currency(food.price, unit: "THB", format: "%n %u") %></p>
      <p>Quantity: <%= quantity %></p>
    </li>

    <% total += quantity * food.price %>

<% end %>
  <li>
    <p>Delivery fee: 50 THB</p>
  </li>
  <li>
    <p>Service fee: 10 THB</p>
  </li>
  <% total += 60 %>
<p><b>Total: <%= number_to_currency(total, unit: "THB", format: "%n %u") %></b></p>

