<% user_order = Order.where(user_id: @order.user_id) %>
<h1>Customer Info</h1>

<p>Name: <%= @user.name %></p>

<p>Phone number: <%= @user.phone %></p>

<p>Address: <%= @order.shipping_address.address %>
            <%= @order.shipping_address.instruction %>
</p>
<p>Lat: <%= @order.shipping_address.latitude %>, Lng: <%= @order.shipping_address.longitude %></p>

<% lat = @order.shipping_address.latitude %>
<% lng = @order.shipping_address.longitude %>
<% gmap_url = "http://maps.google.com/maps?q=" + lat.to_s + ", " + lng.to_s %>
<a href=<%= gmap_url %>>Link to Google Map</a>

<% total = 0 %>
<h1>Order Info</h1>
<% rest_id = @order.rest_id %>
Order id: <%= @order.id %>
<%= Restaurant.find(rest_id).name %>

    <table class="table">

        <% @cart.each do |id, order_info| %>
          <% food_id = order_info[:food_id] %>
          <% quantity = order_info[:quantity].to_i %>
          <% special = order_info[:special] %>
          <% options = order_info[:options] %>
          <% food = Food.find(food_id) %>
          <% food_price = food.price %>
          <tr>
            <td width="70%">
              <strong><%= food.name %></strong>


              <!--Option list start-->
                <ul class="option-lists">
                  <% unless options.nil? %>
                    <% options.each do |option| %>
                      <% option_value_id = option[1][:option_value_ids] %>
                        <% unless option_value_id.first.empty? %>

                          <!--Radio button-->
                          <% if option_value_id.class == String %>
                            <% option_value = OptionValue.find(option_value_id) %>
                            <li><%= option_value.name %></li>
                            <% food_price += option_value.price.to_i %>
                          <!--Checkbox-->
                          <% else %>
                              <% option_value_id.each do |option_number| %>
                                <% unless option_number.empty? %>
                                  <% option_value = OptionValue.find(option_number) %>
                                  <li><%= option_value.name %></li>
                                  <% food_price += option_value.price.to_i %>
                                <% end %>
                              <% end %>

                          <% end %>

                        <% end %>
                      <% end %>
                    <% end %>
                    <% unless special.empty? %>
                      <li><%= special %></li>
                    <% end %>
                  </ul>
              <!--Option list end-->

              </td>
              <td width="10%"><%= quantity %></td>
              <td>
                <strong><%= food_price * quantity %> ฿</strong>
              </td width="20%">
              <% total += quantity * food_price %>
            </tr>
          <% end %>
          <% user_order.size == 1 ? delivery_fee = 0 : delivery_fee = 50 %>
          <tr>
            <td width="70%"></td>
            <td width="10%"><b>Subtotal</b></td>
            <td width="20%"><b><%= total %> ฿</b></td>
          </tr>
          <tr>
            <td width="70%"></td>
            <td width="10%"><b>Delivery Fee</b></td>
            <td width="20%"><b><%="#{delivery_fee} ฿"%></b></td>
          </tr>
          <tr>
            <td width="70%"></td>
            <td width="10%"><b>Total</b></td>
            <td width="20%"><b><%= total+delivery_fee %> ฿</b></td>
          </tr>
      </tbody>
    </table>
    <p>
      Payment Method:
      <% if @order.payment_type == 1 %>
        Credit Card
      <% else %>
        Cash
      <% end %>
    </p>
    <p>Name: <%= @user.name %></p>
    <p>Contact Number: <%= @user.phone %></p>
    <p>Delivery Address: <%= @order.shipping_address.address %></p>
    <p>Delivery Instruction: <%= @order.shipping_address.instruction %></p>
