<tr>
      <td width="10%"><%= order_food.order_id %></td>
      <td width="10%"><%= order_food.food_id %></td>
      <td width="40%"><%= order_food.food_name %></td>
      <td width="20%"><%= order_food.food_cat %></td>
      <td width="10%"><%= order_food.quantity %></td>
      <td width="10%"><%= order_food.total %></td>
</tr>