<%= javascript_include_tag("reg_maps.js") %>

<% provide(:title, 'Edit user') %>
<% provide(:hidden_title, 'Edit user') %>

<div class='container'>
  <h1>Update your profile</h1>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_field :address, class: "location form-control" %>
        <div id="map-container" class="geomap">
          <div id="map" class="geomap"></div>
        </div>

        <%= f.label "Delivery Instruction" %>
        <%= f.text_field :dinstruction, class: "form-control" %>
        
        <%= f.hidden_field :latitude , class: "longitude" %>
        <%= f.hidden_field :longitude ,  class: "latitude" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
