<% provide(:title, 'Edit user') %>
<% provide(:hidden_title, 'Edit user') %>

<div class='container'>
  <h1>Profile</h1>
  <div class='row'>
    <div class="col-md-8 col-md-offset-2">
      <!-- START: General Form -->
      <%= form_for(@user) do |f| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-default pull-right">Save</button>
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">General</h3>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="form-group row">
              <%= f.label :name, class: "col-xs-2 col-form-label" %>
              <div class="col-xs-10">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :email, class: "col-xs-2 col-form-label" %>
              <div class="col-xs-10">
                <%= f.email_field :email, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <%= f.label :phone, "Telephone", class: "col-xs-2 col-form-label" %>
              <div class="col-xs-10">
                <%= f.text_field :phone, class: 'form-control', readonly: true %>
              </div>
            </div>
          </div> 
        </div>
      <% end %>
      <!-- END: General Form -->

      <!-- START: Delivery Form -->
      <% if @user.default_address.present? %>
        <!-- User have default address -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-default pull-right">Change</button>
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Delivery</h3>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="form-group row">
              <%= label_tag :name, "Name", class: "col-xs-2 col-form-label" %>
              <div class="col-xs-10">
                <%= @user.default_address.name %>
              </div>
            </div>
            <div class="form-group row">
              <%= label_tag :address, "Address", class: "col-xs-2 col-form-label" %>
              <div class="col-xs-10">
                <%= @user.default_address.full_address %>
              </div>
            </div>
            <div class="row">
              <%= label_tag :instruction, "Instruction", class: "col-xs-2 col-form-label" %>
              <div class="col-xs-10">
                <%= @user.default_address.instruction %>
              </div>
            </div>
            <div>
              <div id="googleMap" class="geomap">
                <%= render partial: "shared/address", locals: {latitude: @user.default_address.latitude, longitude: @user.default_address.longitude, elementId: 'googleMap'} %>
              </div>
            </div>
          </div> 
        </div>
      <% else %>
        <!-- User doesn't have default address -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-default pull-right">Add Address</button>
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Delivery</h3>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <center>No Default Address Yet.</center>
          </div> 
        </div>
      <% end %>
      <!-- END: Delivery Form -->

      <!-- START: Change Password Form -->
      <%= form_for(@user) do |f| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-default pull-right">Save</button>
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Change Password</h3>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="form-group row">
              <%= f.label :password, 'New Password', class: "col-xs-4 col-form-label" %>
              <div class="col-xs-8">
                <%= f.password_field :password, :autocomplete => "off", class: "form-control", placeholder: "Leave blank if no change" %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :password, 'Password Confirmation', class: "col-xs-4 col-form-label" %>
              <div class="col-xs-8">
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Leave blank if no change" %>
              </div>
            </div>
          </div> 
        </div>
      <% end %>
        <!-- END: Change Password Form -->
    </div>
  </div>
</div>
