<% provide(:title, @user.name) %>
<% provide(:hidden_title, 'clearmap') %>
<div class='container'>
  <div class="center">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p><%= @user.phone %></p>
      <p><%= @user.email %></p>
      <hr>
      <p>Address</p>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <% @user.addresses.each do |address| %>
            <div class="col-sm-6 <%= (address.is_default) ? 'default-address-thumb' : '' %> address-thumb" address-id="<%= address.id %>">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= address.name %>
                  <div class="clearfix;"></div>
                </div>
                <div class="panel-body">
                  <div class="full-address"><%= address.full_address %></div>
                  <div>
                    <div id="googleMap<%= address.id %>" class="thumb-map address-map" latitude="<%= address.latitude %>" longitude="<%= address.longitude %>">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>


<script type="text/javascript">
  function initMap(){
    $(".address-map").each(function() {
      var position = {
        lat: parseFloat($(this).attr('latitude')),
        lng: parseFloat($(this).attr('longitude'))
      };
      var map = new google.maps.Map(
        document.getElementById($(this).attr('id')), {
          center: position,
          zoom: 15,
          streetViewControl: false,
          draggable: false,
          scrollwheel: false
      });
      var marker = new google.maps.Marker({
        position: position,
        map: map
      });
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLod8mAcjj-5mmficTg-cu2W-BhEu6Cgs&callback=initMap">
</script>