<% provide(:title, @user.name) %>
<% provide(:hidden_title, 'clearmap') %>
<div class='container'>
  <div class="center">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p><%= @user.phone %></p>
      <p><%= @user.email %></p>
      <hr>
      <h4>Address</h4>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <% @user.addresses.each do |address| %>
            <div class="col-sm-6 <%= (address.is_default) ? 'default-address-thumb' : '' %> address-thumb" address-id="<%= address.id %>">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= address.name %>
                  <div class="clearfix;"></div>
                </div>
                <div class="panel-body">
                  <div class="full-address"><%= address.full_address %></div>
                  <div>
                    <div id="googleMap<%= address.id %>" class="thumb-map address-map" latitude="<%= address.latitude %>" longitude="<%= address.longitude %>">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <h4>Update Default Address</h4>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p><b>Old Address</b></p>
          <p>
            Latitude: <%= @user.latitude %>, Longitude: <%= @user.longitude %></br>
            Address: <%= @user.address %></br>
            Instruction: <%= @user.dinstruction %>
          </p>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <p><b>New Default Address</b></p>
          <%= form_for(@user.default_address, html: { class: "form-inline" }) do |f| %>
            <div class="form-group">
              <%= f.text_field :latitude, 
                    { placeholder: "Latitude *", 
                      class: "form-control input-large" } %>
            </div>
            <div class="form-group">
              <%= f.text_field :longitude, 
                    { placeholder: "Longitude *", 
                      class: "form-control input-large" } %>
            </div>
            <div class="form-group">
              <%= f.text_field :name, 
                    { placeholder: "Address Name *", 
                      class: "form-control input-large" } %>
            </div>
            <div class="form-group">
              <%= f.text_field :house_room_no, 
                    { placeholder: "House/Room No.", 
                      class: "form-control input-small" } %>
              <%= f.text_field :street, 
                    { placeholder: "Street/Soi", 
                      class: "form-control input-medium" } %>
            </div>
            <div class="form-group">
              <%= f.text_field :building_name, 
                    { placeholder: "Building Name", 
                      class: "form-control input-medium" } %>
              <%= f.text_field :floor, 
                    { placeholder: "Floor no.", 
                      class: "form-control input-small" } %>
            </div>
            <div class="form-group">
              <%= f.text_field :subdistrict, 
                    { placeholder: "Subdistrict", 
                      class: "form-control input-medium" } %>
              <%= f.text_field :district, 
                    { placeholder: "District", 
                      class: "form-control input-small" } %>
            </div>
            <div class="form-group">
              <%= f.text_field :province, 
                    { placeholder: "City", 
                      class: "form-control input-medium" } %>
              <%= f.text_field :postal_code, 
                    { placeholder: "Postal Code", 
                      class: "form-control input-small" } %>
            </div>
            <div class="form-group">
              <%= f.text_area :instruction,
                    { placeholder: "Delivery Instruction", 
                      class: "form-control input-large" } %>
            </div>
            <%= hidden_field_tag :return_url, request.original_url %>
            <%= f.submit :Save, { class: "btn btn-block btn-success" } %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>


<script type="text/javascript">
  function initMap(){
    $(".address-map").each(function() {
      var position = {
        lat: parseFloat($(this).attr('latitude')),
        lng: parseFloat($(this).attr('longitude'))
      };
      var map = new google.maps.Map(
        document.getElementById($(this).attr('id')), {
          center: position,
          zoom: 15,
          streetViewControl: false,
          draggable: false,
          scrollwheel: false
      });
      var marker = new google.maps.Marker({
        position: position,
        map: map
      });
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLod8mAcjj-5mmficTg-cu2W-BhEu6Cgs&callback=initMap">
</script>