<% provide(:title, @user.name) %>
<% provide(:hidden_title, 'clearmap') %>
<div class='container'>
  <div class="center">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p><%= @user.phone %></p>
      <p><%= @user.address %></p>
      <p><%= @user.dinstruction %></p>
      <p><%= @user.email %></p>
  <div class="geomap">
    <div id="googleMap" class="geomap"></div>
  </div>
    </section>
  </div>
</div>


<script>
var myCenter=new google.maps.LatLng(<%= @user.latitude %>,<%= @user.longitude %>);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:17,
  mapTypeId:google.maps.MapTypeId.ROADMAP,
  scrollwheel:false
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
