<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @option.position %>
</p>
<% if @option.option_values.any? %>
  <p>
    <%= render @option_values %>
  </p>
<% end %>

<%= render 'option_values/option_value_form' %>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
