<%= form_for(:saddress, url: submit_saddress_path) do |f| %>
    <%= render partial: "shared/map_auto_address" %>
  <%= f.text_field :faddress, class: "location form-control", placeholder: 'Enter Delivery Location' %>
  <%= f.hidden_field :latitude , class: "longitude" %>
  <%= f.hidden_field :longitude ,  class: "latitude" %>
  <div id="map-container" class="geomap">
    <div class="quantity-gen">Drag marker to fine-tune your location</div>
    <div id="map" class="geomap"></div>
  </div>
    <div><%= f.submit "#{button_name}", class: "btn btn-danger map-submit" %></div>

<% end %>
