<%= form_for(:saddress, url: submit_saddress_path) do |f| %>
  <%= f.text_field :faddress, class: "location form-control", placeholder: 'Enter your destination here' %>
  <%= f.hidden_field :latitude , class: "longitude" %>
  <%= f.hidden_field :longitude ,  class: "latitude" %>
  <div id="map-container" class="geomap">
    <div id="map" class="geomap"></div>
  </div>
  <div>
    <span class="location-arrow-wrapper btn btn-danger"><i class="fa fa-location-arrow strong"></i></span>
    <span class="spinning-icon-wrapper btn btn-danger hide"><i class="fa fa-spinner fa-spin strong"></i></span>
    <span><%= f.submit "#{button_name}", class: "btn btn-danger map-submit" %></span>
  </div>
<% end %>
