<div class='order-item'>
  <div class='info'>
    <div class='name'>
      <%= "#{name}" %>
    </div>
    <div class='close-icon'>
      <%= link_to line_delete_path(id: id) do %>
        <i class="fa fa-close fa-sm"></i>
      <% end %>
    </div>
    <div class='quantity'>
      <%= quantity %>
    </div>
  </div>
  <div class='price'>
    <%= "#{price} ฿" %>
  </div>
  <% @food_price += price.to_i %>
  <%= render partial: 'shared/option_lists', locals: { options: options } %>
</div>
