
    <div class="menu-img-rest center-norep" style="background-image: url(<%= restaurant.image_url %>); ">

    <% if restaurant.promo %>
      <div class="ribbon-wrapper-green"><div class="ribbon-green">Promotion</div></div>
    <% end %>      
    </div>


    <div class='title'><%= restaurant.name %></div>
    <% if restaurant.soon %>
      <div class='delivery-hours'>&nbsp;&nbsp;&nbsp;Closed&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <% elsif restaurant.cday == Time.now.wday %>
      <div class='delivery-hours'>&nbsp;&nbsp;&nbsp;Closed Today&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class='delivery-hours'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <% else %>
      <div class='row'>
        <div class='col-sm-6 estimated-delivery'><i class="fa fa-truck fa-lg"></i>&nbsp;&nbsp;&nbsp;~<%= restaurant.dtime %> Mins</div>
        <% if restaurant.id != 6 %>
          <div class='col-sm-6 delivery-hours'><i class="fa fa-clock-o fa-lg"></i>&nbsp;&nbsp;&nbsp;<%= restaurant.dhour %></div>
        <% else %>
          <div class='col-sm-6 delivery-hours'><i class="fa fa-clock-o fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong><%= restaurant.dhour %></strong></div>
        <% end %>
      </div>
      <div class='row'>
        <div class='col-sm-12 estimated-delivery'><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;&nbsp;Min Order <%= restaurant.min_order %> ฿</div>
      </div>
    <% end %>


