<tr>
  <td width="10%"><%= order.created_at.strftime("%m/%d/%Y") %> </td>
  <td width="8%"><%= order.id %> </td>
  <td width="10%"><%= order.rest_id %> </td>
  <td width="10%"><%= order.user.name %></td>
  <td width="8%"><%= order.sub_total %></td>
  <td width="8%"><%= order.delivery_fee %></td>
  <td width="8%"><%= order.service_fee %></td>
  <td width="10%"><%= order.total %></td>
  <td width="8%">
    <% if order.payment_type == 1 %>
      CR
    <% else %>
      Cash
    <% end %>
  </td>
  <td width="10%"><%= order.agent %></td>
  <td width="5%">
    <%= link_to ('<i class="fa fa-pencil"></i>').html_safe, edit_order_path(order) %>
  </td>
  <td width="5%">
    <%= link_to ('<i class="fa fa-trash"></i>').html_safe, order, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>