<% provide(:title, 'All orders') %>
<div class='container container-admin'>
  <h1>All orders</h1>

  <%= will_paginate %>

  <table class="table admin_table">
    <thead>
      <tr>
        <th width="10%">Date</th>
        <th width="10%">Order</th>
        <th width="10%">Rest</th>
        <th width="10%">User</th>
        <th width="8%">Subtotal</th>
        <th width="8%">Dfee</th>
        <th width="8%">Sfee</th>
        <th width="8%">Total</th>
        <th width="8%">Payment</th>
        <th width="8%">Agent</th>
        <th width="6%">Paid?</th>
        <th width="3%"></th>
        <th width="3%"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <%= render order %>
  
      <% end %>      
    </tbody>

  </table>

  <%= will_paginate %>
  <div class="center">
    <%= link_to orders_path(:format => 'csv') do %>
      <button type="button" class="btn btn-default">Download all as CSV</button>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h2>Yesterday</h2>
      <h1><%= @totalyesterday %></h1>
    </div>
    <div class="col-xs-4">
      <h2>Today</h2>
      <h1><%= @totaltoday %></h1>
    </div>
    <div class="col-xs-4">
      <h2>This Month</h2>
      <h1><%= @totalthismonth %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h2>Min</h2>
      <h1><%= @orders.minimum(:total) %></h1>
    </div>
    <div class="col-xs-4">
      <h2>Max</h2>
      <h1><%= @orders.maximum(:total) %></h1>
    </div>
    <div class="col-xs-4">
      <h2>Avg</h2>
      <h1><%= @orders.average(:total).round(1) %></h1>
    </div>
  </div>
  <%= column_chart @orders.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>
  <%= column_chart @orders.group_by_hour_of_day(:created_at, format: "%l %P").count, discrete: true %>
</div>
