<% provide(:title, 'All orders') %>
<div class='container container-admin'>
  <h1>All orders</h1>

  <%= will_paginate %>

  <table class="table admin_table">
    <thead>
      <tr>
        <th width="10%">Date</th>
        <th width="10%">Order</th>
        <th width="10%">Rest</th>
        <th width="10%">User</th>
        <th width="8%">Subtotal</th>
        <th width="8%">Dfee</th>
        <th width="8%">Sfee</th>
        <th width="10%">Total</th>
        <th width="10%">Payment</th>
        <th width="10%">Agent</th>
        <th width="3%"></th>
        <th width="3%"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <%= render order %>
  
      <% end %>      
    </tbody>

  </table>

  <%= will_paginate %>
  <div class="center">
    <%= link_to orders_path(:format => 'csv') do %>
      <button type="button" class="btn btn-default">Download all as CSV</button>
    <% end %>
  </div>
  <p>Average order size: <%= @orders.average(:total) %></p>
  <p>Minimum order size: <%= @orders.minimum(:total) %></p>
  <p>Maximum order size: <%= @orders.maximum(:total) %></p>

  <div class="row">
    <div class="col-xs-6">
      <h1>Yesterday</h1>
      <h2>Total Amount = <%= @totalyesterday %></h2>

      
    </div>
    <div class="col-xs-6">
      <h1>Today</h1>
      <h2>Total Amount = <%= @totaltoday %></h2>
    
    </div>
  </div>
  <%= column_chart @orders.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>
  <%= column_chart @orders.group_by_hour_of_day(:created_at, format: "%l %P").count, discrete: true %>
</div>
