<% provide(:hidden_title, 'Landing') %>

<div class='jumbotron-landing'>
  <div class="landing-title center">
    Delicious Food<br>
    Deliver with <span class="glyphicon glyphicon-heart" style="color:red;"></span><br>
    <span class="kanit">สั่งอาหารเดลิเวอรี่ แจ้งวัฒนะ</span>
  </div>
  <div class="center">
    <button type="button" class="showmap btn btn-default"><strong>Click here to start</strong></button>
      <%= render partial: "shared/map", locals: { button_name: "Find Restaurants" } %>
  </div>
</div>

<div class='container-fluid landing-page-pane'>
  <div class='landing-pane-bg red'>
    <div class='landing-title'>1. Enter Location</div>
    <img class='landing-image-row' style='max-height: 500px;' src='<%= asset_path("input_map.png") %>'></img>
  </div>
  <div class='landing-pane theme-color'>
    <div class='landing-title'>2. Select Menu</div>
    <img class='landing-image-row' style='max-height: 500px;' src='<%= asset_path("menu_img_mobile.png") %>'></img>
  </div>
  <div class='landing-pane-bg gray-background'>
    <div class='landing-title'>3. Review <span class="theme-color">&</span> Pay</div>
    <img class='landing-image-row' style='max-height: 500px;' src='<%= asset_path("checkout_summary.png") %>'></img>
  </div>
  <div class='landing-pane feature theme-color'>
    <div class='landing-title'>Deliver from</div>
    <img class='landing-image-row' style='max-height: 300px;' src='<%= asset_path("salad_factory_logo.jpg") %>'></img>
  </div>
</div>
