<%= form_for(@food, url: restaurant_food_path ) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :cat_id %><br>
    <%= f.number_field :cat_id %>
  </div>
  <div class="field">
    <%= f.label :cat, "Category" %><br>
    <%= f.text_field :cat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
