<div class="pull-left">
  <p><%= link_to image_tag('back.png', alt: 'Back to Lists of Restaurants', size: '30'), root_path %></p>
</div>
<div class="jumbotron" style="background-image: url(<%= @foods.first.restaurant.image_url %>);">
  <h1><%= @foods.first.restaurant.name %></h1>
</div>

<% cat_number = 0 %>

<div class="container">
  <div class="row">
    <% @foods.each do |food| %>

        <% unless food.cat_id == cat_number %>

          <div class="col-md-12">
            <div class="food-cat">
              <strong><%= food.cat %></strong>
            </div>
          </div>
          <% cat_number = food.cat_id %>
        <% end %>
      <div class="col-md-6">

        <%= link_to add_new_path(id: food.id), remote: true do %>
          <div class="food-item  color-hover">
            <div class="food-price"><%= food.price %> ฿</div>
            <div class="food-name"><%= food.name %></div>
          </div>
        <% end %>

        <% if user_admin? %>
          <%= link_to 'Show', restaurant_food_path(id: food.id) %>
          <%= link_to 'Edit', edit_restaurant_food_path(id: food.id) %>
          <%= link_to 'Destroy', restaurant_food_path(id: food.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

      </div>
    <% end %>
  </div>
</div>

<% if user_admin? %>
<%= link_to 'New Food', new_restaurant_food_path %>
<% end %>

<div id="product-modal" class="modal fade"></div>