<div class="pull-left">
  <p><%= link_to image_tag('back.png', alt: 'Back to Lists of Restaurants', size: '30'), root_path %></p>
</div>
<h1><%= @foods.first.restaurant.name %></h1>

<div class="container">
  <div class="row">
    <% @foods.each do |food| %>
      <div class="col-md-4">

        <p><%= image_tag(food.image_url, alt: "image2") %></p>
        <%= food.name %>
        <%= number_to_currency(food.price, unit: "THB", format: "%n %u") %>
        <a href="/cart/<%= food.id %>"><%= image_tag('plus.png', size: "30", alt: "Add to cart") %></a>

        <% if user_admin? %>
          <%= link_to 'Show', restaurant_food_path(id: food.id) %>
          <%= link_to 'Edit', edit_restaurant_food_path(id: food.id) %>
          <%= link_to 'Destroy', restaurant_food_path(id: food.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if user_admin? %>
<%= link_to 'New Food', new_restaurant_food_path %>
<% end %>