<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBLod8mAcjj-5mmficTg-cu2W-BhEu6Cgs&libraries=places" type="text/javascript"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>
<%= javascript_include_tag("reg_maps.js") %>

<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "location" %>
  </div>
  <div id="map-container" class="geomap">
    <div id="map" class="geomap"></div>
  </div>
  <div class="field">
    <%= f.label :min_order %><br>
    <%= f.number_field :min_order %>
  </div>
  <div class="field">
    <%= f.label :dtime %><br>
    <%= f.number_field :dtime %>
  </div>
  <div class="field">
    <%= f.label :cday %><br>
    <%= f.number_field :cday %>
  </div>
  <div class="field">
    <%= f.label :service_fee %>%<br>
    <%= f.number_field :service_fee %>
  </div>
  <div class="field">
    <%= f.label :soon, "Link" %>
    <%= f.radio_button :soon, false %>
    <%= label :soon, "Enable" %>
    <%= f.radio_button :soon, true %>
    <%= label :soon, "Disable" %>
  </div>
  <div class="field">
    <%= f.label :promo, "Promotion" %>
    <%= f.radio_button :promo, true %>
    <%= label :soon, "Yes" %>
    <%= f.radio_button :promo, false %>
    <%= label :soon, "No" %>
  </div>
  <%= f.hidden_field :latitude , class: "longitude" %>
  <%= f.hidden_field :longitude ,  class: "latitude" %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-8">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
          <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
