<h1>Listing Restaurants</h1>

  <div class="container">
    <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">

        <%= link_to restaurant_foods_path(restaurant_id: restaurant.id), class: "thumbnail center" do %>
          <p><%= image_tag(restaurant.image_url, alt: "image") %></p>
          <p><%= restaurant.name %></p>
          <p><%= restaurant.desc %></p>
        <% end %>

        <% if user_admin? %>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<% if user_admin? %>
<%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>