<div class="container default-background">
  <div class="center">
    <%= render partial: "shared/map", locals: { button_name: "Find Restaurants" } %>
  </div>
  <% if @restaurants.size == 0 %>
    <div class="center">
      <h1>Sorry, we don't have restaurants delivering to your location yet.</h1>
    </div>
  <% else %>
    <div class="select-rest center">Select Restaurant</div>
    <div class="subthai center">เลือกร้านอาหาร</div>
  <% end %>
  <div class='row restaurants-container'>
    <% @restaurants.each do |restaurant| %>
      <% unless restaurant.soon %>
        <%= link_to restaurant_foods_path(restaurant_id: restaurant.id) do %>
          <div class='restaurant-container rc-hover'>
            <%= render partial: "shared/restaurant", locals: { restaurant: restaurant } %>
          </div>
        <% end %>
      <% else %>
        <div class='restaurant-container rc-hover'>
          <%= render partial: "shared/restaurant", locals: { restaurant: restaurant } %>
        </div>        
      <% end %>
    <% end %>
    <%= render partial: "shared/restaurant_coming_soon" %>
  </div>

    <% if user_admin? %>
    <%= link_to 'New Restaurant', new_restaurant_path %>
    <% end %>
  </div>

</div>
