<h1>Listing Restaurants</h1>

  <div class="container">
    <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">

        <%= link_to restaurant_foods_path(restaurant_id: restaurant.id), class: "thumbnail center" do %>
          <p><%= image_tag(restaurant.image_url, alt: "image", class: "max-width") %></p>
          <p class="medium"><b><%= restaurant.name %></b></p>
          <p class="medium"><%= restaurant.desc %></p>
        <% end %>

        <% if user_admin? %>
          <%= link_to 'Show', restaurant %>
          <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
          <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<% if user_admin? %>
<%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>