<div>
  <% if @address.latitude.present? and @address.longitude.present? %>
    <%= render partial: "shared/map_display", 
      locals: { latitude: @address.latitude, 
      longitude: @address.longitude, 
      elementId: "googleMap#{@address.id || 'new'}" } %>
  <% end %>
  <div class="address-form">
    <%= form_for(@address, class: "form-inline") do |f| %>
      <div class="form-group">
        <%= f.text_field :house_room_no, 
              { placeholder: "House/Room No.*", 
                class: "form-control input-medium" } %>
        <%= f.text_field :street, 
              { placeholder: "Street/Soi *", 
                class: "form-control input-small" } %>
      </div>
      <div class="form-group">
        <%= f.text_field :building_name, 
              { placeholder: "Building/Condo/House Name (optional)", 
                class: "form-control input-medium" } %>
        <%= f.text_field :floor, 
              { placeholder: "Floor no. (optional)", 
                class: "form-control input-small" } %>
      </div>
      <div class="form-group">
        <%= f.text_field :subdistrict, 
              { placeholder: "Subdistrict (optional)", 
                class: "form-control input-medium" } %>
        <%= f.text_field :district, 
              { placeholder: "District (optional)", 
                class: "form-control input-small" } %>
      </div>
      <div class="form-group">
        <%= f.text_field :province, 
              { placeholder: "City (optional)", 
                class: "form-control input-medium" } %>
        <%= f.text_field :postal_code, 
              { placeholder: "Postal Code (optional)", 
                class: "form-control input-small" } %>
      </div>
      <div class="form-group">
        <%= f.text_area :instruction,
              { placeholder: "Delivery Instruction (optional)", 
                class: "form-control input-large" } %>
      </div>
      <button type="button" class="btn btn-block btn-success">Save</button>
    <% end %>
  </div>
</div>