<div class="container">
  <h1>New Address</h1>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= render partial: "form", locals: { address: @address } %>
    </div>
  </div>
</div>
<div id="map-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title">Pin your location</h4>
      </div>
      <div class="modal-body">
        <span class="tooltips">
          <span class="tooltipstext">Get my current location</span>
          <span class="location-arrow-wrapper btn btn-danger"><i class="fa fa-location-arrow strong"></i></span>
          <span class="spinning-icon-wrapper btn btn-danger hide"><i class="fa fa-spinner fa-spin strong"></i></span>
        </span>
  			<div id="map" style="height: 350px;">
  				
  			</div>
      </div>
      <div class="modal-footer">
        <a id="cancelAddress" href="javascript:;" class="btn btn-default">Cancel</a>
        <button id="useAddress" type="button" class="btn btn-primary">
          Use this address
        </button>
      </div>
    </div>
	</div>
</div>

<!-- <div id="map-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-header">
      Please locate yourself to see the list of restaurants delivering to your location.<br>
      <div class="hide-mobile">กรุณาระบุตำแหน่งของคุณในแผนที่เพื่อค้นหาร้านอาหารที่มีบริการส่งถึงคุณ</div>
    </div>
    <div class="modal-content">
      <%= form_for(:saddress, url: submit_saddress_path) do |f| %>
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        
        <span class="tooltips">
			    <span class="tooltipstext">Get my current location</span>
			    <span class="location-arrow-wrapper btn btn-danger"><i class="fa fa-location-arrow strong"></i></span>
			    <span class="spinning-icon-wrapper btn btn-danger hide"><i class="fa fa-spinner fa-spin strong"></i></span>
				</span>

        <%= f.text_field :faddress, class: "location form-control margin-bot-0", placeholder: 'Type and Select Location'%>
        <%= f.hidden_field :latitude , class: "latitude" %>
        <%= f.hidden_field :longitude ,  class: "longitude"%>

        <div id="map-container" class="geomap">
          <div class="quantity-gen"><i class="fa fa-map-marker"></i><i class="fa fa-hand-o-left"></i> Drag marker to fine-tune your location</div>
          <div id="map" class="geomap"></div>
            <div><%= f.submit "Use this address", class: "btn btn-danger map-submit" %></div>
        </div>

			<% end %>
   	</div>
  </div>
</div> -->

<script type="text/javascript">
	$(document).ready(function() {
    if (!urlContainParam('latitude') || !urlContainParam('longitude')) {
      $("#map-modal").modal({
        backdrop: 'static',
        keyboard: false
      });
      $("#map-modal").modal("show");
      $("#map-modal-edit").modal("show");
    }
  });

 	// Note: This example requires that you consent to location sharing when
	// prompted by your browser. If you see the error "The Geolocation service
	// failed.", it means you probably did not give permission for the browser to
	// locate you.

  var map;
  var marker;
  var currentPosition;
  var address;

	function initMap() {
    currentPosition = {lat: 13.7563, lng: 100.5018};
	  map = new google.maps.Map(document.getElementById('map'), {
	    center: currentPosition,
	    zoom: 14
	  });

    marker = new google.maps.Marker({
      position: currentPosition,
      map: map,
      title: 'Hello World!',
      draggable: true
    });
    marker.addListener('position_changed', function(event) {
      currentPosition = marker.position;
    });

	  // Try HTML5 geolocation.
	  if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
	      currentPosition = {
	        lat: position.coords.latitude,
	        lng: position.coords.longitude
	      };
        map.setCenter(currentPosition);
        marker = new google.maps.Marker({
          position: currentPosition,
          map: map,
          title: 'Hello World!',
          draggable: true
        });
        marker.addListener('position_changed', function(event) {
          currentPosition = marker.position;
        });
	    }, function() {
	      // Cannot get location
        alert("We can't locate your current location. Please grant a permission in your browser to locate your device");
	    });
	  } else {
	    // Browser doesn't support Geolocation
      alert('Your browser doesn\'t support geolocation.');
	  }
	}

  function addEventListener() {
    $('#useAddress').on('click', function(){
      window.location = "<%= new_address_path() %>"+"?address="+address+"&latitude="+currentPosition.lat+"&longitude="+currentPosition.lng;
    });
    $('#cancelAddress').on('click', function(){
      window.location = "<%= addresses_path() %>";
    });
  }

  function urlContainParam(param) {
    var url = window.location.href;
    if(url.indexOf('?' + param + '=') != -1)
      return true;
    else if(url.indexOf('&' + param + '=') != -1)
      return true;
    return false
  }

</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLod8mAcjj-5mmficTg-cu2W-BhEu6Cgs&callback=initMap">
	// AIzaSyCwhcezDLA4hI2yH4uZxzKTKH_y1RoONUY
</script>