<h1>Select Category</h1>
<% numi = 1 %>
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to restaurants_path, class: "thumbnail center" do %>
          <p><%= image_tag('http://i.imgur.com/8gADhc0.jpg', alt: "image", class: "rest-image center-block") %></p>
          <div class="medium">
            <strong>All</strong>
            <span class="badge badge-danger">
              <div id="cartnum"><%= @restaurants.size %></div>
            </span>
          </div>
      <% end %>
    </div>
    <% @categories.each do |category| %>
    <% numi += 1 %>
      <div class="col-xs-12 col-sm-6">

        <%= link_to category_path(category), class: "thumbnail center" do %>
          <p><%= image_tag(category.image_url, alt: "image", class: "rest-image center-block") %></p>
            <strong><%= category.name %></strong>
            <span class="badge badge-danger">
              <div id="cartnum"><%= category.restaurants.size %></div>
            </span>
        <% end %>

        <% if user_admin? %>
          <%= link_to 'Show', category %>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <% if numi.even? %>
        <div class="clearfix"></div>
      <% end %>
    <% end %>
    </div>
  </div>

<% if user_admin? %>
<%= link_to 'New Category', new_category_path %>
<% end %>