<h1><%= @category.name %></h1>

  <div class="container">
    <div class="row">
    <% @category_restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">

        <%= link_to restaurant_foods_path(restaurant_id: restaurant.id), class: "thumbnail center" do %>
          <p><%= image_tag(restaurant.image_url, alt: "image", class: "max-width") %></p>
          <p class="medium"><b><%= restaurant.name %></b></p>
          <% if restaurant.categories.any? %>
            <p>
              <% restaurant.categories.each do |category| %>
                <span class = "food-cat"><%= category.name %> &nbsp; </span>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<% if user_admin? %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
<% end %>


