<div class='container-fluid'>
  <footer class="footer">
<p>
  <%= link_to "Privacy Policy", privacy_path %> | 
  <%= link_to "T&Cs", terms_path %> | 
  <%= link_to "About", about_path %> | 
  <%= link_to "Contact", contact_path %> 
</p>   
</a>
<p>© 2016 Befed Technology Co., Ltd.</p>
<a href="http://www.facebook.com/befed.me" target="_blank">
  <img style='max-height: 20px;' src='<%= asset_path("FB-f-Logo__blue_29.png") %>'></img>
</a> | 
<a href="http://line.me/ti/p/%40befed.me" target="_blank"><img style='max-height: 29px;' alt="เพิ่มเพื่อน" src='<%= asset_path("LINE_icon01.png") %>'></img>
  </footer>
</div>
