<nav class = "navbar navbar-custom navbar-fixed-top">
  <div class = "container">
    <div class="navbar-header">
      <%= link_to "Befed", root_path, id: "logo" %>
      <p id="sublogo">Bangkok Food Delivery</p>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class = "nav navbar-nav navbar-right">
        <!--Address-->
        <% unless ["Landing", "Sign up", "Edit user", "clearmap"].include? yield(:hidden_title)%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-flag"></span>
              <div class="address_header"><%= session[:saddress]["faddress"] %></div>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-location">
              <%= form_for(:saddress, url: submit_saddress_path) do |f| %>
                <%= f.text_field :faddress, class: "location form-control" %>
                <%= f.hidden_field :latitude , class: "longitude" %>
                <%= f.hidden_field :longitude ,  class: "latitude" %>
                <div id="map-container" class="geomap">
                  <div id="map" class="geomap"></div>
                </div>
                <%= f.submit "I'm here!", class: "btn btn-danger" %>
              <% end %>
            </ul>
          </li>
        <% end %>
        <!--Address END-->
        <!--CART -->
        <% unless yield(:hidden_title) == "Landing" %>
          <% if session[:cart] %>
            <% get_cart_size %>
          <% end %>
          <li>
            <%= link_to cart_path do %>
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="badge badge-danger">
                <div id="cartnum"><%= @cart_size %></div>
              </span>
            <% end %>
          </li>
        <% end %>
        <!--CART END-->
        <% if user_admin? %>
          <li><%= link_to "Users", users_path%></li>
          <li><%= link_to "Options", options_path %></li>
        <% end %>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              Account
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to login_path do %>
              <span class="glyphicon glyphicon-user"></span>
              Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
