<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Food delivery Bangkok, Nonthaburi | We believe eating fresh and healthy food leads to living well. Befed provide you with better and healthier food delivery choices. เราอยากให้คนไทยมีสุขภาพดี สั่งอาหารเดลิเวรี่ กรุงเทพ นนทบุรี เรารวบรวมร้านอาหารที่ดีต่อสุขภาพในพื้นที่ของคุณมาให้สั่งไปกินที่บ้านกันได้เลย อาหารปรุงสดใหม่จากร้านอาหารชื่อดัง บริการส่งถึงที่รวดเร็วทันใจ">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application','reg_maps.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ef5a50">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <% if yield(:hidden_title) == "Landing" %>
    <body class='default-background'>
  <% else %>
    <body class='default-background'>
  <% end %>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="center alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
